h1{
    font-size:36pt;
    color:red;
    font-family:'Arial';'Times';'sans-serif';
}

h2{
    font-size:28pt;
    color:blueviolet;
    font-family: 'Arial';'Times';
}

h3{
    font-size:16pt;
    color:green;
    font-family: 'Arial';'Times';
    line-height: inherit;
}

p{
    font-size:16pt;
    color:orangered;
    font-family: 'Arial';'Times';
    line-height: inherit;
}

body{
    
    background-image:url(images.jpg);
    border:5px dotted green;
    text-align: center;
}

a{
    font-size:14pt;
    color:red;
    font-family: 'Arial';'Times';
    line-height: inherit;
}

ul{
     font-size:12pt;;
    font-family: 'Arial';'Times';
}

div{
    
    width:auto;
    height:auto;
    padding:25px;
    
}


aside{
    
    margin:auto;
}

article{
    
    text-align: center;
}