h1{
    font-size:36pt;
    color:purple;
    font-family:'Arial';'Times';'sans-serif';
}

h2{
    font-size:28pt;
    color:orangered;
    font-family: 'Arial';'Times';
}

p{
    font-size:16pt;
    color:orange;
    font-family: 'Arial';'Times';
    line-height: inherit;
}

body{
    
    background-image:url(image.jpg);
    text-align: center;
}

